$blue: #8dd9f1;
$dark-blue: #03afe7;
$light-grey: #fafafa;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $light-grey;
}
main {
  background-color: white;
  width: 70%;
  min-height: 20rem;
  margin: 0 auto;
  box-shadow: 0px 1px 7px 1px #cecece;
  section {
    text-align: center;
    margin-top: 3rem;
    &.guess-word {
      padding-left: 1.1rem;
    }
    p {
      text-align: center;
      padding-top: 3rem;
      &.guess {
        letter-spacing: 1.5rem;
        word-wrap: break-word;
      }
    }
    .win {
      padding-bottom: 4rem;
      h2 {
        padding: 0 2rem;
        line-height: 2.5rem;
      }
    }
    .cta-win {
      padding: 1rem;
      color: white;
      font-size: 18px;
      border: inherit;
      cursor: pointer;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      background-color: $dark-blue;
      box-shadow: 4px 7px 3px #195a8f45;
    }
  }
}

h1 {
  text-align: center;
  color: $dark-blue;
}

#keyboard {
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem 1rem 3rem 1rem;
  text-align: center;
  div {
    display: inline-block;
    background-color: #e3e3e3;
    padding: 0.7rem 1.2rem;
    -webkit-box-shadow: 1px 1px 1px 1px #cdcdcd;
    box-shadow: 1px 1px 1px 1px #cdcdcd;
    margin: 0.5rem 0.8rem;
    width: 2rem;
    &:hover {
      background-color: #b4b4b4;
      box-shadow: 0px 1px 3px 3px #aeaeae;
      cursor: pointer;
    }
    &.selected {
      background-color: $blue;
      border: 1px solid $blue;
      box-shadow: inherit;
      color: #ffffff;
      font-weight: bold;
      cursor: pointer;
    }
    &.disabled {
      background-color: $light-grey;
      box-shadow: inherit;
      color: #6d6d6d;
      border: 1px dashed #c4c4c4;
      pointer-events: none;
    }
    &.active {
      background-color: $blue;
      box-shadow: inherit;
      color: white;
      pointer-events: none;
      border: 1px solid $blue;
    }
  }
}
