body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa;
}
main {
  background-color: white;
  width: 70%;
  min-height: 20rem;
  margin: 0 auto;
  box-shadow: 0px 1px 7px 1px #cecece;
  section {
    padding: 0.5rem 0 0 1rem;
    p {
      text-align: center;
      letter-spacing: 2rem;
    }
  }
}

h1 {
  text-align: center;
}
